<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%for i in posts%}
       <a href="{% url 'blog:PostDetail' pk=i.id %}"> {{i.title}}</a><br>
    {%endfor%}
    <h1>---------------</h1>
    {%for j in news%}
    <a href="{% url 'blog:PostDetail' pk=j.id %}"> {{j.title}}</a><br>
    {%endfor%}
    <h1>--------------</h1>
    {%for k in cars%}
    <a href="{% url 'products:CarDetail' pk=k.id %}"> {{k.name}}</a><br>
    {%endfor%}
    <h1>--------------</h1>
</body>
</html>