<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h5 class="text-white h4">Menu</h5>
          <form class="d-flex" action="{% url 'products:search' %}" method="get">
            <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
 <!-- ------------------ -->
            <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="{%url 'products:cars' %}">New Car Pricing</a>
            </div>
          </nav>
<!-- ------------------ -->
          <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'products:products'%}">Products</a>
            </div>
          </nav>
<!-- ------------------ -->
            <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'products:service' %}">Service Reserve</a>
            </div>
          </nav>
 <!-- ------------------ -->  
            <nav class="navbar navbar-dark bg-dark">
                <div class="container-fluid">
                <a class="navbar-brand" href="/accounts/login/">Login</a>
                </div>
            </nav>
   <!-- ------------------ -->  
          <span class="text-muted">test</span>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <h5 class="text-white h4">Cars v1.0</h5>
        </div>
      </nav>



    <p>----------------------------</p>
    <h3>Categories</h3>
    {%for i in categories%}
        <img src="{{i.image.url}}">
       <a href="{%url 'products:category' id=i.id %}">{{i.name}}</a>
    {%endfor%}
    <p>----------------------------</p>
    <h3>Service Reserve part</h3>
    <p>----------------------------</p>
    <h3>Products and discounts</h3>
    {%for i in products%}
         <a href="{%url 'products:ProductsDetail' pk=i.id %}">{{i.name}}</a>
    {%endfor%}
    <p>----------------------------</p>
    <h3>cars</h3>
    {%for i in cars%}
        <a href="{%url 'products:CarDetail' pk=i.id %}">{{i.name}}</a>
    {%endfor%}
</body>
</html>