<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Navbar</h3>



    <p>----------------------------</p>
    <h3>Categories</h3>
    {%for i in categories%}
        <img src="{{i.image.url}}">
       <a href="{%url 'products:category' id=i.id %}">{{i.name}}</a>
    {%endfor%}
    <p>----------------------------</p>
    <h3>Service Reserve part</h3>
    <p>----------------------------</p>
    <h3>Products and discounts</h3>
    {%for i in products%}
         <a href="{%url 'products:ProductsDetail' pk=i.id %}">{{i.name}}</a>
    {%endfor%}
    <p>----------------------------</p>
    <h3>cars</h3>
    {%for i in cars%}
        <a href="{%url 'products:CarDetail' pk=i.id %}">{{i.name}}</a>
    {%endfor%}
</body>
</html>